* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #212529;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  --color-primary: #4263eb;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #edf2ff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.main {
  padding-top: 8rem;
}

.max-width-container {
  max-width: 1300px;
  margin: 0 auto;
}

.outer-container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.color-main {
  color: var(--color-primary);
}

.header {
  padding-top: 2.4rem;
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 auto;
  font-size: 2.304rem;
  font-weight: 600;
}

.btn-back {
  display: inline-block;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

.white-background {
  background-color: white;
  border-radius: 8px;
  padding: 2.4rem 1.2rem;
  margin-bottom: 2.4rem;
  overflow-y: scroll;
  max-height: 500px;
}
.white-background.preview {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  height: 350px;
}
.white-background.css {
  padding-top: 2.4rem;
}

.pre-element {
  width: 100%;
}
.pre-element code {
  font-size: 1.6rem;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  margin-bottom: 50px;
  height: 8px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6882ef;
  border-radius: 8px;
  transition: background 0.2s linear;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8ea1f3;
}

.instructions {
  color: #f3f6fd;
  background-color: var(--color-primary);
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  border-radius: 8px;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
  color: #5c7cfa;
  text-align: center;
}

@media only screen and (min-width: 40.625em) {
  .outer-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .header {
    padding-top: 3.2rem;
  }

  .subheading {
    font-size: 1.92rem;
  }

  .instructions {
    font-size: 1.92rem;
    padding: 1rem 2rem;
  }

  .logo {
    font-size: 2.765rem;
  }
}
@media only screen and (min-width: 62.5em) {
  .grid-container {
    grid-template-columns: 0.75fr 1fr;
  }
  .grid-container .css {
    grid-column: 2/3;
    margin-left: 2.4rem;
    grid-row: 1/3;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .grid-container .html,
.grid-container .preview {
    grid-column: 1/2;
  }
  .grid-container .html {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
}